
<footer class="footer bg-dark text-light mt-5">
  <div class="container py-5">
    <div class="row g-4">

      <!-- School Info -->
      <!-- <div class="col-md-4">
        <h5 class="fw-bold">Little Flower Public School</h5>
        <p class="small">
          Providing quality education from Nursery to Class 6
          in a safe and caring environment.
        </p>
      </div> -->


      <div class="col-md-4 footer-brand">
  <img
    src="/assets/logo.png"
    alt="Little Flower Public School Logo"
    class="footer-logo"
  />

  <div>
    <h5 class="fw-bold mb-1">Little Flower Public School</h5>
    <p class="small mb-0">
     Quality education from Nursery to Class 6 in a safe, nurturing environment.
    </p>
  </div>
</div>
      <!-- Quick Links -->
      <div class="col-md-4">
        <h6 class="fw-semibold">Quick Links</h6>
        <ul class="list-unstyled">
          <li><a routerLink="/" class="footer-link">Home</a></li>
          <li><a routerLink="/about" class="footer-link">About</a></li>
          <li><a routerLink="/admissions" class="footer-link">Admissions</a></li>
          <li><a routerLink="/gallery" class="footer-link">Gallery</a></li>
          <li><a routerLink="/contact" class="footer-link">Contact</a></li>
        </ul>
      </div>

      <!-- Contact Info -->
      <div class="col-md-4">
        <h6 class="fw-semibold">Contact</h6>
        <p class="small mb-1">📍 Main Road, Bishanpur Malahatoli Samastipur</p>
        <p class="small mb-1">📞 +91 7369903206</p>
        <p class="small">
          📧 b170055&#64;nitsikkim.ac.in
        </p>
      </div>

    </div>
  </div>

  <!-- Bottom Bar -->
  <div class="footer-bottom text-center py-3">
    <small>
      <!-- © {{ currentYear }} ABC Public School. All rights reserved. -->
       Copyright © 2026 www.simplekundan.co.in. All Rights Reserved | Designed and Hosted by Kundan
    </small>
      <!-- Admin login (hidden & subtle) -->
  <div class="mt-2">
    <a
      routerLink="/admin/login"
      class="admin-link">
      Admin Login
    </a>
  </div>
</div>


  
</footer>
