.footer {
  font-size: 14px;
}

.footer-link {
  color: #cccccc;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 6px;
}

.footer-link:hover {
  color: #ffffff;
  text-decoration: underline;
}

.footer-bottom {
  background-color: #000000;
}
.admin-link {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  transition: all 0.3s ease;
}

.admin-link:hover {
  color: #ffffff;
  text-decoration: underline;
}

