.navbar-brand {
  letter-spacing: 0.5px;
}

.nav-link {
  font-weight: 500;
}

.nav-link.active {
  border-bottom: 2px solid #fff;
}
.navbar {
  background-color: #0d6efd;
  opacity: 1;
}
.navbar {
  background-color: #0d6efd !important;
  opacity: 1 !important;
  filter: none !important;
  backdrop-filter: none !important;
}
.navbar {
  position: sticky;
  top: 0;
  z-index: 1050; /* footer/content se upar rahe */
}
/* Hover */
.navbar .nav-link:hover {
  color: #ffffff;
  opacity: 0.85;
}
.navbar a {
  color: #F3E5F5;
}
.navbar a.active {
  color: #FBC02D;
}

/* Logo in nav */


.school-logo {
  height: 48px;
  width: 48px;              /* 👈 equal width-height */
  object-fit: cover;        /* 👈 image distort na ho */
  border-radius: 50%;       /* 👈 THIS IS THE MAGIC */
  background: #6a5555;         /* optional: dark navbar pe clean look */
  padding: .01px;             /* optional: thoda space */
}

.school-name {
  font-size: 20px;
  font-weight: 750;
  color: #fff;
  white-space: nowrap;
}

/* Mobile pe thoda chhota */
@media (max-width: 576px) {
  .school-logo {
    height: 36px;
  }
  .school-name {
    font-size: 16px;
  }
  
}

.navbar-brand {
  margin-left: -30px;   /* 👈 thoda left shift */
}

.navbar .container {
  padding-left: 8px;
}

.navbar-nav {
  margin-right: -50px;   /* 👈 adjust value */
}

@media (max-width: 576px) {
  .navbar-brand {
    margin-left: 0;
  }

  .school-logo {
    height: 50px;
    width: 50px;
  }

  .school-name {
    font-size: 18px;
    max-width: 10px;       /* 🔥 key fix */
    /* overflow: hidden; */
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .navbar-toggler {
    padding: 4px 6px;
  }
}

