.navbar-brand {
  letter-spacing: 0.5px;
}

.nav-link {
  font-weight: 500;
}

.nav-link.active {
  border-bottom: 2px solid #fff;
}
.navbar {
  background-color: #0d6efd;
  opacity: 1;
}
.navbar {
  background-color: #0d6efd !important;
  opacity: 1 !important;
  filter: none !important;
  backdrop-filter: none !important;
}
.navbar {
  position: sticky;
  top: 0;
  z-index: 1050; /* footer/content se upar rahe */
}
/* Hover */
.navbar .nav-link:hover {
  color: #ffffff;
  opacity: 0.85;
}
.navbar a {
  color: #F3E5F5;
}
.navbar a.active {
  color: #FBC02D;
}
