<div class="container py-5 admission-section">

  <!-- Page Heading -->
  <div class="text-center mb-5">
    <h2 class="fw-bold admission-title">Admissions Open</h2>
    <p class="admission-subtitle">
      Give your child the best start in a nurturing learning environment
    </p>
  </div>

  <div class="row g-5">

    <!-- Admission Details -->
    <div class="col-md-5">
      <div class="p-4 bg-light rounded shadow-sm">
        <h5 class="fw-semibold mb-3">Admission Information</h5>

        <ul class="list-unstyled">
          <li class="mb-2">📘 Classes: Nursery to Class 6</li>
          <li class="mb-2">🗓️ Academic Session: 2025–26</li>
          <li class="mb-2">🏫 Medium: English</li>
          <li class="mb-2">📝 Documents Required:</li>
        </ul>

        <ul>
          <li>Birth Certificate</li>
          <li>Aadhar Card</li>
          <li>Previous School TC (if applicable)</li>
          <li>Passport size photographs</li>
        </ul>

        <p class="mt-3 fw-semibold">
          📞 For queries, contact school office.
        </p>
      </div>
    </div>

    <!-- Admission Form -->
    <div class="col-md-7">
      <div class="card shadow-sm border-0">
        <div class="card-body">
          <h5 class="fw-bold mb-4">Admission Enquiry Form</h5>

          <form [formGroup]="admissionForm" (ngSubmit)="submitForm()">

            <div class="mb-3">
              <label class="form-label">Student Name *</label>
              <input class="form-control" formControlName="studentName">
              <div class="text-danger small"
                *ngIf="getControl('studentName')?.touched && getControl('studentName')?.invalid">

                <div *ngIf="getControl('studentName')?.errors?.['required']">
                  Student name is required
                </div>

                <div *ngIf="getControl('studentName')?.errors?.['minlength']">
                  Minimum 3 characters required
                </div>

              </div>

            </div>

            <div class="mb-3">
              <label class="form-label">Parent / Guardian Name *</label>
              <input class="form-control" formControlName="parentName">

              <div class="text-danger small"
                *ngIf="getControl('parentName')?.touched && getControl('parentName')?.invalid">
                <div *ngIf="getControl('parentName')?.errors?.['required']">
                  Parent / Guardian name is required
                </div>
                <div *ngIf="getControl('parentName')?.errors?.['minlength']">
                  Minimum 3 characters required
                </div>
              </div>

            </div>

            <div class="mb-3">
              <label class="form-label">Class Applying For *</label>
              <select class="form-select" formControlName="classApplied">
                <option value="">Select Class</option>
                <option>Nursery</option>
                <option>LKG</option>
                <option>UKG</option>
                <option>Class 1</option>
                <option>Class 2</option>
                <option>Class 3</option>
                <option>Class 4</option>
                <option>Class 5</option>
                <option>Class 6</option>
              </select>
              <div class="text-danger small"
                *ngIf="getControl('classApplied')?.touched && getControl('classApplied')?.invalid">
                Please select a class
              </div>
            </div>

            <!-- <div class="mb-3">
              <label class="form-label">Mobile Number</label>
              <input class="form-control" formControlName="phone">

              <div class="text-danger small" *ngIf="getControl('phone')?.touched && getControl('phone')?.invalid">
                <div *ngIf="getControl('phone')?.errors?.['required']">
                  Mobile number is required
                </div>
                <div *ngIf="getControl('phone')?.errors?.['pattern']">
                  Enter valid 10-digit Indian mobile number
                </div>
              </div>

            </div> -->
            <div class="mb-3">
              <label class="form-label">Mobile Number *</label>

              <div class="input-group">
                <span class="input-group-text">🇮🇳 +91</span>

                <input class="form-control" formControlName="phone" inputmode="numeric" maxlength="10"
                  placeholder="Enter 10-digit mobile number" (keypress)="onlyNumber($event)" (input)="onPhoneInput()">
              </div>

              <div class="text-danger small" *ngIf="getControl('phone')?.touched && getControl('phone')?.invalid">
                <div *ngIf="getControl('phone')?.errors?.['required']">
                  Mobile number is required
                </div>
                <div *ngIf="getControl('phone')?.errors?.['pattern']">
                  Enter valid 10-digit Indian mobile number
                </div>
              </div>
            </div>

            <div class="mb-3">
              <label class="form-label">Email (optional)</label>
              <input type="email" class="form-control" formControlName="email">
              <div class="text-danger small" *ngIf="getControl('email')?.touched && getControl('email')?.invalid">
                Enter a valid email address
              </div>
            </div>

            <div class="mb-3">
              <label class="form-label">Message *</label>
              <textarea class="form-control" rows="3" formControlName="message"></textarea>
              <div class="text-danger small" *ngIf="getControl('message')?.touched && getControl('message')?.invalid">
                Message is required
              </div>
            </div>

            <button class="btn btn-primary" [disabled]="admissionForm.invalid">
              Submit Enquiry
            </button>

          </form>
        </div>
      </div>
    </div>

  </div>
</div>